body{
  font-family: Arial;
}
.column{
  width: 400px;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}
img{
  width: 200px;
}
/*p{
  float: right;
}*/
img{
  float: right;
}

#before {
  background-color: #f4d9b5;
}

#during {
  background-color: #eef0c2;
}

#after {
  background-color: #ddefc1;
}
